.site_update{margin-top: 40px;margin-left: 120px;}
.img_site1{position: relative;top:-20px;margin-left: 120px;}
.site_lable1{ width: 380px;margin-right: 50px;}
.div_module2{padding-left:10px;margin-top:10px;margin-left:1px;margin-right:4px;width:128px;height:25px;padding-left:10px;cursor:pointer;border: 1px solid black;float: left; }
.site_div_from{position:absolute; height:160px; overflow:auto; margin-left:100px; width:730px;padding:0px;}
.site_addcomt{position: relative;left: -48.9%}